@import url(normalize.css);


body {font-family: Arial, Tahoma, sans-serif;position: relative;}

li {list-style: none; margin: 0; padding: 0;}

a {text-decoration: none;}




.wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ===== NAVIGATION =====*/


.top-menu {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.9);
}
.top-menu ul {
  font-size: 0;
  text-align: center;
}
.top-menu li {
  display: inline-block;
  margin-right: 40px;
  text-transform: uppercase;
}
.top-menu a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: .5s;
}
.top-menu a:hover {
  color: #443de6;  
}


/* ===== HEADER =====*/


#header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  text-align: center;
}
.header-blackfon {
  padding-top: 150px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.74);
  
}
.header-welcome {
  font-size: 40px;
  color: #fff;
  
}
#header h1 {
  margin-top: 50px;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  
}



/* ===== SKILLS =====*/

#skills-main {
  background: #fff;
}
.skills-content {
  font-size: 0;
  margin-bottom: 50px;
}
.skills-item {
  display: inline-block;
  width: 25%;
}
.skills-ico {
  text-align: center;
  margin-bottom: 30px;
}
.skills-ico img {
  
}
.skills-text {
  text-align: center;
  font-size: 22px;
  color: rgb(34, 34, 34);
  font-weight: bold;
}
.certificate-content {

}
.certificate-title {
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: rgb(34, 34, 34);
  text-transform: uppercase;  
}
.certificate-content {
  
}
.certificate-title {
  
}
.certificate-item-main {
  margin: 0 auto;
}
.certificate-item-main:after {
  display: table;
  content: "";
  clear: both;
}
.certificate-item {
  margin-bottom: 20px
}
.certificate-year {
  float: left;
  padding: 0 20px;
  text-align: center;
}
.certificate-name {
  margin-left: 70px;
  font-size: 16px;
  font-weight: bold;
  
}
.certificate-educational-center {
  margin-left: 100px;
  font-size: 12px;
}

.certificate-educational-center span {
  font-weight: bold;
  
}





/* ===== PORTFOLIO =====*/
#portfolio-main {
  background: #f7f7f7;
}

.portfolio-content {
  font-size: 0;
}
.portfolio-item {
  display: inline-block;
  width: 30%;
  margin-left: 5%;
}
.portfolio-item:first-child {
  margin-left: 0;
}
.portfolio-link-img {
  display: block;
  padding: 10px 0;
  height: 140px;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}
.portfolio-item img {
  text-align: center;
  
}
.portfolio-item-text {
  padding: 5px 0;
  text-align: center;
  background: #fff;
}
.portfolio-link-text {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  color: rgb(51, 51, 51);
  transition: .5s;
}
.portfolio-link-text:hover {
  color: #0b00ff;  
  
}
.portfolio-item-text p {
  font-size: 14px;
  color: rgb(115, 115, 115);
  font-style: italic;
}




/* ===== CONTACTS =====*/


#contacts-main {
  background: #2e2e2e;
}

.contacts {
  color: #fff;
}
.contacts-title {
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.contacts ul {
  padding: 0;
  margin: 0;
}
.contacts ul li {
  margin-bottom: 30px;
  padding: 10px 0;
  font-size: 22px;
  padding-left: 60px;
}
.contacts ul li a {
  color: #fff;
  transition: .5s;
}
.contacts ul li a:hover {
  color: #736ef2;  
}
.contacts-address {
  background: url(../images/contacts-address.png) 0 7px no-repeat;
}
.contacts-phone {
  background: url(../images/contacts-phone.png) 0 7px no-repeat;
  
}
.contacts-phone a {
  
}
.contacts-email {
  background: url(../images/contacts-email.png) 0 7px no-repeat;
  
}
.contacts-email a {
  
}




/* ===== FOOTER =====*/


footer {
  background: #fff;
}
footer .wrapper {
}






/* ===== SECTION =====*/

section {
  padding: 70px 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(34, 34, 34);
  text-transform: uppercase;  
}



